@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --primary: #18181b;
  --primary-alt: #1c212f;
  --secondary: #2f2f35;

  --dark: #101418;
  --dark-05: rgba(16, 20, 24, 0.5);
  --dark-08: rgba(16, 20, 24, 0.8);

  --flashy: #11b6f7;
  --flashy-02: rgba(57, 105, 161, 0.2);
  --flashy-05: rgba(57, 105, 161, 0.5);
  --flashy-08: rgba(57, 105, 161, 0.8);

  --flashy-alt: #f2b636;
  --flashy-alt-05: rgba(242, 151, 54, 0.5);

  --light: #e4eef5;
  --light-05: rgba(228, 238, 245, 0.5);
  --light-08: rgba(228, 238, 245, 0.8);

  --error: #af3d4c;
  --error-05: rgba(233, 0, 31, 0.5);
  --success: #37f04b;
  --success-05: rgba(55, 240, 75, 0.5);

  --gutter-w: 2rem;

  --space-05: 0.5rem;
  --space-1: 1rem;
  --space-2: 3rem;

  --skill: #368ef2;
  --health: #f23636;
  --spirit: #24fae8;
  --momentum: #8c60dd;
  --supplies: #a1faa1;

  --bonus: #87d16c;
  --malus: #af3d4c;

  --move: rgb(255, 232, 104);

  --rounded: 0.258rem;

  --media-sm: 600px;
  --media-md: 960px;
  --media-lg: 1280px;
  --media-xl: 1920px;

  --shadow: 2px 2px 2px var(--dark);
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Helpers */
.full-y {
  height: 100%;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.scroll-hidden {
  overflow-y: hidden;
}

.scroll-y {
  overflow-y: scroll;
}

.scroller {
  scrollbar-color: var(--primary-alt) var(--primary);
  scrollbar-width: thin;
}

/* Custom css */
body,
html,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Oxanium';

  background: 'blue';
}
