.dialogPost {
  margin: 4rem 0;
  line-height: 2rem;
  font-size: 1.4rem;
  font-family: "Kontrapunkt-Light";
  text-shadow: 0 0 3px var(--primary), 1px 1px 3px var(--primary);
}

.dialogPost:nth-child(odd) {
}

.dialogPost:first-of-type {
  margin-top: 0;
  text-align: center;
}

.dialogPost:last-of-type {
  margin-bottom: 0;
}

.author {
  display: block;
  margin-left: -1rem;
  font-style: italic;
  font-weight: bold;
}
