/* Helpers */
.fullH {
  height: 100%;
}

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.scrollHidden {
  overflow-y: hidden;
}

.overflowY {
  overflow-y: scroll;
}

.scroller {
  scrollbar-color: var(--primary-alt) var(--primary);
  scrollbar-width: thin;
}
/* End of helpers */

.header,
.footer {
  position: relative;
  background: var(--primary);
}

.header {
  display: flex;
  min-height: 7.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--flashy);
}

.header::after {
  position: absolute;
  content: '';
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--flashy);
}

.footer {
  min-height: 2.5rem;
  border-top: 1px solid var(--flashy);
}

.footer::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--flashy);
}

.main {
  position: relative;
  overflow-x: hidden;
  background: var(--primary);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainSection,
.asideSection {
}

.mainSection {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.asideSection {
  position: relative;
  width: 40%;
  margin-right: 5%;
  background: url('../../public/images/dialog_background.png'), var(--dark-08);
  border-left: 1px solid var(--flashy);
  border-right: 1px solid var(--flashy);
  color: #e9e9e9;
}
